<h3>Welcome <%=@user.first_name%> <%=@user.last_name%></h3>

<form action="/keits" method="post">
  <div><input type="text" name="text" placeholder="write your Keit"></div>
  <div><input type="submit"></div>
</form>

<div><a href="/users/profile">Wanna check/update your Keit profil</a></div>

<ul>
  <% if @keit != nil %>
    <% @keit.each do |keit| %>
      <li><%=keit.text%></li>
    <% end %>
  <% else %>
    <p> Post a keit you fucker </p>
  <% end %>
</ul>

