<h3>Fuckers who follow you</h3>
<ul>
  <% current_user.followers.each do |follower| %>
    <li><a href="/users/<%=follower.username%>"><%=follower.username%></a></li>
  <% end %>
</ul>

<br>

<h3>Assholes you follow</h3>
<ul>
  <% current_user.followings.each do |following| %>
    <li><a href="/users/<%=following.username%>"><%=following.username%></a></li>
  <% end %>
</ul>