<h2 class='header'>Welcome to Keiter!!</h2>

<form action='/sign_in' method='post'>
  <div><input type='text' name='username' placeholder='Username...'></div>
  <div><input type='password' name='password' placeholder='Password...'></div>
  <div><input type='submit' value='Sign In'></div>
</form>

<p id='button'><a href="/sign_up/new"> <button type="button">Sign Up</button></a></p>

