<h1 class='header'>Welcome to Keiter</h1>

<div id="form_layout">
<form action='/sign_in' method='post'>
  <div><input type='text' name='username' placeholder='Username...'></div>
  <div><input type='password' name='password' placeholder='Password...'></div>
  <p><input type='submit' value='Sign In'></p>
  <p class="sign_up"><a href="/sign_up/new"> <button type="button">Sign Up</button></a></p>
</form>
</div>


