<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c134.0.533.533/295160_10150780302345815_1642421001_n.jpg?oh=ca715af5985d3ee498f035eabbcc9da0&oe=55CD2A18&__gda__=1442908498_ce0a2f098b86eac03af10b2aeea82846" alt="OUR GOD" title="BOW DOWN PLEBIAN"/>
  <p>BOW DOWN TO THE GOD KEI, MOTHERFUCKERS</p>
  <%if current_user%>
    <a href="/signout"><button type="button">logoff</button></a>
  <%end%>

  <%= yield %>k</body>
</html>
