<h2 class='header'>Welcome to the Keiter Sign Up Page!</h2>

<div id="box">
  <form action="/sign_up" method="post" class='text-bar'>
    <p>First Name:</p><input type="text" name="first_name"><br><br>
    Last Name: <br><input type="text" name="last_name"><br><br>
    E-Mail: <br><input type="text" name="email"><br><br>
    Phone Number: <br><input type="text" name="phone_number"><br><br>
    Username: <br><input type="text" name="username"><br><br>
    Password: <br><input type="text" name="password"><br><br>
    <input type="submit" value="Submit" id='submit-button'>
  </form>
</div>
